<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Donate</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="/js/script.js"></script>
    <!-- Add in <head> section -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <a href="/">Home</a>
            <a href="#about-us">About Us</a>
            <a href="#all-items">All Items</a>
            <a href="#categories">Categories</a>
            <a href="/donate-form">I want to Donate</a>
        </div>
        <div class="nav-right">
            {{#if user}}
                <a href="/profile" class="btn"><span>Hi {{user.firstname}}!</span></a>
                <div class="dropdown">
                    <a href="#" class="btn">My Activity <span class="dropdown-icon">▼</span></a>
                    <div class="dropdown-content">
                        <a href="/mydonations">My Donations</a>
                        <a href="/messages">Messages</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
                    <a href="/basket" class="btn"><i class="fas fa-shopping-basket"></i></a>
            {{else}}
                <a href="/basket" class="btn">Basket</a>
                <a href="/login" class="btn">Sign In</a>
            {{/if}}
        </div>
    </nav>


    {{{body}}}

        <!-- Footer Section -->
<footer class="footer">
    <div class="footer-content">
        <p>&copy; 2025 HAMK-CA-group 18. All rights reserved.</p>
    </div>
</footer>
</body>
</html>
