<main>
    <div class="login-container">
        {{#if loggedInUser}}
            <h1>Welcome, {{loggedInUser}}!</h1>
        {{else}}
            <h1>Login to Your Account</h1>
            {{#if error}}
                <p style="color: red;">{{error}}</p>
            {{/if}}
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <button type="submit" class="login-btn">Login</button>
            </form>

            <div class="register-link">
                <p>Don't have an account? <a href="/user-registration" class="register-btn">Register here</a></p>
            </div>
        {{/if}}
    </div>
</main>
